<div class="image-container">
    <object 
            width="608" 
            height="456" 
            src="{{ site.github.url }}/assets/img/{{ include.image }}" 
            type="video/mp4"
    ></object>
</div>

<!-- html that didn't work  -->
<!-- <html>
<body style="text-align: center">
    <h2>Video Demo</h2>
    <object width="608" 
            height="456" 
            src=
"{{ site.github.url }}/assets/img/{{ include.image }}" 
            type="video/mp4"
    ></object>
</body>
</html> -->


<!-- Markdown working code -->
<!-- <video width="608" height="456" style="text-align: center" controls>
    <source src="{{ site.github.url }}/assets/img/projects/proj-2/IMG_2541.mp4" type="video/mp4">
  </video> -->